.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@include screen('sm', 'min') {
		max-width: 540px
	}

	@include screen('md', 'min') {
		max-width: 720px
	}

	@include screen('lg', 'min') {
		max-width: 960px
	}

	@include screen('xl', 'min') {
		max-width: #{$max_width + 30px};
	}
}