// icon(icon-name, fill, stroke, stroke-width, size, custom-css)
@function _buildIcon($icon, $view_box, $size) {
  @if $view_box == '' {
    $icon: '<svg xmlns="http://www.w3.org/2000/svg">#{$icon}</svg>';
  } @else {
    $icon: '<svg xmlns="http://www.w3.org/2000/svg" width="#{nth($size, 1)}" height="#{nth($size, 2)}" viewBox="0 0 #{nth($view_box, 1)} #{nth($view_box, 2)}">#{$icon}</svg>';
  }
  @return $icon;
}
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index { @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace); }
  @return $string;
}
@function _buildPath($paths, $parameters, $attr:'') {
  $path: '';
  $icon: '';
  @each $i, $path in $paths {
    @if $i == 1 {
      $path: 'fill="#{map-get($parameters, fill)}" stroke="#{map-get($parameters, stroke-color)}" stroke-width="#{map-get($parameters, stroke-width)}" style="#{map-get($parameters, css)}" d="#{$path}"';
    } @else {
      $path: 'fill="#{map-get($parameters, fill)}" d="#{$path}"';
    }

    $icon: $icon + '<path #{$path} #{$attr} />';
  }
  @return str-replace($icon, '#', '%23');
}
@function icon(
  $icon-name,
  $fill,
  $stroke-color: transparent,
  $stroke-width: 0,
  $css: '',
	$size: ''
) {
  $parameters: (
    "fill": $fill,
    "stroke-color": $stroke-color,
    "stroke-width": $stroke-width,
    "css": $css,
    "size": $size
  );

  // $icons: (
  //   icon_name: _buildPath((path), params, attrs) _buildPath((path), (params), attrs) _buildPath(... (width, height),
  // )
  $icons: (
    cross_icon: _buildPath((1: 'M17 8H9V3V0H8V3V8H0V9H8V15.5V17H9V15.5V9H17V8Z'), $parameters, '') (17,17),
  );

  $listSize: length(map-get($icons, $icon-name));
  $path: set-nth(map-get($icons, $icon-name), $listSize, '');
	$icon_size: nth(map-get($icons, $icon-name), $listSize);
	@if map-get($parameters, size) != '' {
		$icon_size: map-get($parameters, size);
	}

  $icon: _buildIcon($path, nth(map-get($icons, $icon-name), $listSize), $icon_size);
  @return url("data:image/svg+xml;utf8,#{$icon}");
}