.mobile_menu {
	&__wrap,
	&__bttn,
	&_next-link,
	&_back-link {
		display: block;

		@include screen('lg') {
			display: none;
		}
	}

	&__wrap {
		position: fixed;
		inset: var(--header-height) 0 0 auto;
		background-color: #fff;
		z-index: 100;
		transform: translateX(100%);
		@include transition(all, 0.3);
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr auto;
		overflow: hidden;
		border-top: solid 1px rgba(#000, .4);
		width: 100%;
		@include screen('sm'){
			width: 360px;
		}

		.menu_open & {
			transform: translateX(0);
		}
	}

	&__bttn {
		@include screen('lg', 'max') {
			background-color: transparent;
			float: right;
			@include size(32px);
			padding: 7px 4px;
			cursor: pointer;
			display: grid;
			align-content: space-between;
		}

		div {
			position: relative;
			display: block;
			height: 2px;
			width: 100%;
			transition: all 0.25s;
			background-color: #000;
			@include transition;

			.menu_open & {
				&:first-child {
					transform: rotate(45deg) translate(5.5px, 5.5px);
				}
	
				&:nth-child(2) {
					width: 0%;
					opacity: 0;
				}
	
				&:last-child {
					transform: rotate(-45deg) translate(5.5px, -5.5px);
				}
			}
		}
	}
	
	&__blind {
		position: fixed;
		inset: var(--header-height) 0 0 0;
		z-index: 99;
		background-color: rgba(#000, .5);
		display: none;
		cursor: pointer;
	}
}