$color_1: #2f2f2f;
$color_2: #ff292a;

$max_width: 1340px;
$article_width: 820px;

$breakpoints: (
	'xlll': 1750px,
	'xll': 1400px,
	'xxl': 1280px,
	'xl': 1200px,
	'lg': 992px,
	'mdd': 900px,
	'md': 768px,
	'sm': 576px,
	'xxs': 500px,
	'xss': 400px,
	'xs': 320px,
);
