<section class="container js_acceptcookie hide">
	<div class="popup popup--acceptcookie">
		<div class="acceptcookie__description">Сайт использует cookie для хранения данных. Продолжая использовать сайт, вы даёте своё согласие на работу с этими файлами. <a href="javascript:void(0)">Подробнее</a>.
    </div>

		<button class="btn btn--1 btn--middle js_cookie_accept">Принимаю</button>
	</div>
</section>
