<div class="popup popup--postmessage">
	<div class="center">
		<div class="title">Спасибо!</div>
		<div class="desc">Ваше приглашение отправлено. <br>После рассмотрения мы свяжемся с вами <br>по указанным в форме контактным данным</div>
	</div>
</div>
