{% from './macros.njk' import menu %}

	<footer class="footer">
		<div class="container">
			{{ menu(activeItem=activePage, typeMenu='footer') }}
		</div>
	</footer>

	<script defer="defer" src="/assets/js/main.min.js?v={{ range(1, 1000) | random }}"></script>
	</body>
</html>