{% set sitemapArray = [
	{
		name: 'Главная',
		link: '/',
		class: '',
		blank: false
	}, {
		name: '404',
		link: '/404.html',
		class: '',
		blank: false
	}
] %}

{#
	{{ link('Главная') }}
#}
{% macro linkSpace(name) %}
	{% macro linksArray(array, name, url) %}
		{% for item in array %}
			{% if name == item.name %}{{ item.link }}{% endif %}
			{% if item.submenu and item.submenu.length %}
				{{ linksArray(item.submenu, name, url) }}
			{% endif %}
		{% endfor %}
	{% endmacro %}
	{% set url %}{{ linksArray(sitemapArray, name, url) | trim }}{% endset %}
	{% if url == '' %}{% set url = 'javascript:void(0)' %}{% endif %}
	{{ url }}
{% endmacro %}
{% macro link(name) %}{{ linkSpace(name) | trim }}{% endmacro %}

{% set menuItems = {
	'sitemap': sitemapArray,
	'header': [
		{
			name: 'Главная',
			class: '',
			blank: false,
			submenu: [
				{
					name: 'О компании',
					link: link('404')
				}, {
					name: 'Контакты',
					link: link('404')
				}
			]
		}
	],
	'footer': [
		{
			name: 'Главная',
			class: '',
			blank: false
		}
	]
} %}

{#
	typeMenu      - ключ меню в объекте menuItems
	typeMenuClass - класс для элементов меню
	showTypeClass - показывать класс typeMenu если есть typeMenuClass
	menuClass     - дополнительный класс меню
	activeItem    - name ктивного пункта меню
	style         - инлайновфй стили меню
	datas         - многомерный массив дата аттрибутов для меню

	{{ menu('aside_menu_2', 'aside', false, 'accord__block js_ver_accord_block', activePage, 'display:none', [[ 'block', 'menu-1']]) }}
#}
{% macro menu(typeMenu = 'header', typeMenuClass = false, showTypeClass = true, menuClass = false, activeItem = false, style=false, datas=false) %}
	{% set level = 1 %}
	{% macro menuArray(array, typeMenu, typeMenuClass, level, activeItem) %}
		{% set level = level + 1 %}
		{% set typeClass = typeMenu %}
		{% if typeMenuClass %}{% set typeClass = typeMenuClass %}{% endif %}
		{% for item in array %}
		<li class="{{ typeClass }}-menu_{% if level > 2 %}_submenu{% endif %}_item{% if item.submenu and item.submenu.length %} has-submenu{% endif %}{% if activeItem and item.name in activeItem.split('|') %} is-active{% endif %}">
			<a href="{% if item.link %}{{ item.link }}{% else %}{{ link(item.name) }}{% endif %}" class="{{ typeClass }}-menu_{% if level > 2 %}_submenu{% endif %}_link{% if item.class and item.class != '' %} {{ item.class }}{% endif %}"{% if item.target and item.target != '' %} target="{{ item.target }}"{% endif %}>{{ item.name }}</a>
			{% if item.submenu | length > 0 %}
			<ul class="{{ typeClass }}-menu__submenu level--{{ level }}">
				{{ menuArray(item.submenu, typeMenu, typeClass, level, activeItem) | trim }}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}

{% set menuHtml %}
<menu class="menu{% if not typeMenuClass or showTypeClass %} {{ typeMenu }}-menu{% endif %}{% if typeMenuClass %} {{ typeMenuClass }}-menu{% endif %}{% if menuClass %} {{ menuClass}}{% endif %}"{% if style %} style="{{ style }}"{% endif %}{% if datas and datas | length > 0 %}{% for d, v in datas %} data-{{ d }}="{{ v }}"{% endfor %}{% endif %}>
	{{ menuArray(menuItems[typeMenu], typeMenu, typeMenuClass, level, activeItem) | trim }}
</menu>
{% endset %}

{{ menuHtml | safe | trim }}
{% endmacro %}

{#
	{{ breadcrumbs(['О компании'], true, 'article__breadcrumbs', true) }}
#}
{% macro breadcrumbsSpace(itemsArray, isShowHome, blockClas, hasWrap) %}
{% if hasWrap %}
	<section class="breadcrumbs container">
	{% endif %}
	<ul class="breadcrumbs__list{% if blockClas %} {{ blockClas }}{% endif %}">
		{% if isShowHome %}
			{% set bArr = ['<li class="breadcrumbs__item"><a href="/">Главная</a></li>'] %}
		{% else %}
			{% set bArr = [] %}
		{% endif %}

		{% if itemsArray and itemsArray.length != 0 %}
			{% for bredItem in itemsArray %}
				{% if loop.index != loop.length %}
					{% set s %}
					<li class="breadcrumbs__item">
						<a href="{{ link(bredItem) }}">{{ bredItem }}</a>
					</li>{% endset %}
					{% set bArr = (bArr.push(s), bArr) %}
				{% endif %}
			{% endfor %}

			{% set s %}
			<li class="breadcrumbs__item">
				<span>{{ itemsArray | last }}</span></li>{% endset %}
			{% set bArr = (bArr.push(s), bArr) %}
		{% endif %}

		{% for item in bArr %}
			{{ item | safe }}
		{% endfor %}
	</ul>
	{% if hasWrap %}
	</section>
{% endif %}
{% endmacro %}
{% macro breadcrumbs(itemsArray, isShowHome = true, blockClas = false, hasWrap = false) %}{{ breadcrumbsSpace(itemsArray, isShowHome, blockClas, hasWrap) | trim }}
{% endmacro %}
