{% set sitemaptems = [
	{
		name: 'Главная',
		link: '/',
		class: '',
		blank: false
	}, {
		name: '404',
		link: '/404.html',
		class: '',
		blank: false
	}
] %}

{% macro linkSpace(name) %}
	{% set link = 'javascript:void(0)' %}
	{% for menuItem in sitemaptems %}
		{% if name == menuItem.name %}{% set link = menuItem.link %}
		{% endif %}
		{% if menuItem.submenu and menuItem.submenu.length %}
			{% for subMenuItem in menuItem.submenu %}
				{% if name == subMenuItem.name %}{% set link = subMenuItem.link %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
	{{ link }}
{% endmacro %}
{% macro link(name) %}{{ linkSpace(name) | trim }}
{% endmacro %}

{% set menuItems = {
	'sitemap': sitemaptems,
	'header': [
		{
			name: 'Главная',
			class: '',
			blank: false,
			submenu: [
				{
					name: 'О компании',
					link: link('404')
				}, {
					name: 'Контакты',
					link: link('404')
				}
			]
		}
	],
	'footer': [
		{
			name: 'Главная',
			class: '',
			blank: false
		}
	]
} %}

{% macro menu(typeMenu = 'header', typeMenuClass = false, menuClass = false, activeItem = false) %}
	{% set level = 1 %}
	{% macro menuArray(array, typeMenu, typeMenuClass, level, activeItem) %}
		{% set level = level + 1 %}
		{% set typeClass = typeMenu %}
		{% if typeMenuClass %}{% set typeClass = typeMenuClass %}
		{% endif %}
		{% for item in array %}
			<li class="{{ typeClass }}-menu__item{% if item.submenu and item.submenu.length %} has-submenu{% endif %}{% if activeItem == item.name %} is-active{% endif %}">
				<a href="{% if item.link %}{{ item.link }}{% else %}{{ link(item.name) }}{% endif %}" class="{{ typeClass }}-menu__link{% if item.class and item.class != '' %} {{ item.class }}{% endif %}"{% if item.target and item.target != '' %} target="{{ item.targe }}"{% endif %}>{{ item.name }}</a>
				{% if item.submenu | length > 0 %}
					<ul class="{{ typeClass }}-menu__submenu level--{{ level }}">
						{{ menuArray(item.submenu, typeMenu, typeClass, level, activeItem) | trim }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}
{% set menuHtml %}
<menu class="menu {{ typeMenu }}-menu{% if typeMenuClass %} {{ typeMenuClass}}-menu{% endif %}{% if menuClass %} {{ menuClass}}{% endif %}">
	{{ menuArray(menuItems[typeMenu], typeMenu, typeMenuClass, level, activeItem) | trim }}
</menu>
{% endset %}

{{ menuHtml | safe }}
{% endmacro %}

{% macro breadcrumbsSpace(itemsArray, isShowHome, blockClas, hasWrap) %}
{% if hasWrap %}
	<section class="breadcrumbs container">
	{% endif %}
	<ul class="breadcrumbs__list{% if blockClas %} {{ blockClas }}{% endif %}">
		{% if isShowHome %}
			{% set bArr = ['<li class="breadcrumbs__item"><a href="/">Главная</a></li>'] %}
		{% else %}
			{% set bArr = [] %}
		{% endif %}

		{% if itemsArray and itemsArray.length != 0 %}
			{% for bredItem in itemsArray %}
				{% if loop.index != loop.length %}
					{% set s %}
					<li class="breadcrumbs__item">
						<a href="{{ link(bredItem) }}">{{ bredItem }}</a>
					</li>{% endset %}
					{% set bArr = (bArr.push(s), bArr) %}
				{% endif %}
			{% endfor %}

			{% set s %}
			<li class="breadcrumbs__item">
				<span>{{ itemsArray | last }}</span></li>{% endset %}
			{% set bArr = (bArr.push(s), bArr) %}
		{% endif %}

		{% for item in bArr %}
			{{ item | safe }}
		{% endfor %}
	</ul>
	{% if hasWrap %}
	</section>
{% endif %}
{% endmacro %}
{% macro breadcrumbs(itemsArray, isShowHome = true, blockClas = false, hasWrap = false) %}{{ breadcrumbsSpace(itemsArray, isShowHome, blockClas, hasWrap) | trim }}
{% endmacro %}
