{% set menuItems = {
	'header': [
		{
			name: 'Главная',
			link: '/',
			class: '',
			blank: false,
			submenu: [
				{
					name: 'О компании',
					link: 'javascript:void(0)',
					class: '',
					blank: false
				}
			]
		}
	],
	'footer' :[
		{
			name: 'Главная',
			link: '/',
			class: '',
			blank: false
		}
	]
} %}

{% macro menu(activeItem = '', typeMenu = 'header', menuClass = false) %}
	{% set menu = [] %}

	{% for item in menuItems[typeMenu] %}
		{% set activeClass = '' %}
		{% if activeItem === item.name %}{% set activeClass = ' is-active' %}{% endif %}
		{% if item.submenu and item.submenu.length %}
			{% for subItem in item.submenu %}
				{% if subItem.name === activeItem %}{% set activeClass = ' is-active' %}{% endif %}
			{% endfor %}
		{% endif %}

		{% set l1 %}
		<li class="{{ typeMenu }}-menu__item{{ activeClass }}">
			<a href="{{ item.link }}" class="{{ typeMenu }}-menu__link{% if item.class != '' %} {{ item.class }}{% endif %}"{% if item.blank %} target="_blanck"{% endif %}>{{ item.name }}</a>
		{% endset %}
			{% if item.submenu and item.submenu.length %}
				{% set l1 %}{{ l1 | safe }}
				<ul class="{{ typeMenu }}-menu__submenu">
				{% endset %}
				{% for subItem in item.submenu %}
					{% if activeItem === subItem.name %}{% set subActiveClass = ' is-active' %}{% endif %}
					{% set l1 %}{{ l1 | safe }}
					<li class="{{ typeMenu }}-menu__submenu_item">
						<a href="{{ subItem.link }}" class="{{ typeMenu }}-menu__submenu_link{% if subItem.class != '' %} {{ subItem.class }}{% endif %}{{ subActiveClass }}"{% if subItem.blank %} target="_blanck"{% endif %}>{{ subItem.name }}</a>
					</li>
					{% endset %}
					{% set subActiveClass = '' %}
				{% endfor %}
				{% set l1 %}{{ l1 | safe }}
				</ul>
				{% endset %}
			{% endif %}
		{% set l1 %}{{ l1 | safe }}
		</li>
		{% endset %}
		
		{% set menu = (menu.push(l1), menu) %}
	{% endfor %}

				<menu class="menu {{ typeMenu }}-menu{% if menuClass %} {{ menuClass}}{% endif %}">
					{% for item in menu %}{{ item | safe }}{% endfor %}
				</menu>
{% endmacro %}

{% macro breadcrumbs(itemsArray) %}
	<div class="breadcrumbs">
		<ul class="breadcrumbs__list">
			{% set bArr = ['<li><a href="/" class="breadcrumbs__item">Home</a></li>'] %}

			{% if itemsArray and itemsArray.length != 0 %}
				{% for bredItem in itemsArray %}
					{% if loop.index != loop.length %}
						{% set bredItemUrl = 'javascript:void(0)' %}

						{% for hMenuItem in menuItems['header'] %}
							{% if bredItem == hMenuItem.name %}
								{% set bredItemUrl = hMenuItem.link %}
							{% endif %}
						{% endfor %}

						{% set s %}<li><a href="{{ bredItemUrl }}" class="breadcrumbs__item">{{ bredItem }}</a></li>{% endset %}
						{% set bArr = (bArr.push(s), bArr) %}
					{% endif %}
				{% endfor %}

				{% set s %}<li><span class="breadcrumbs__item">{{ itemsArray | last }}</span></li>{% endset %}
				{% set bArr = (bArr.push(s), bArr) %}				
			{% endif %}

		{% for item in bArr %}
			{{ item | safe }}
		{% endfor %}
		</ul>
	</div>
{% endmacro %}

{% macro directions(directionsItems) %}
	<section class="directions container">
		<p class="page__title-2">Направления</p>

		<div class="directions__list">
			{% for item in directionsItems %}
				{% set itemLink = 'javascript:void(0)' %}
				{% if item.link %}{% set itemLink = item.link %}
				{% endif %}
				<a href="{{ itemLink }}" class="directions__item">
					<span class="directions__item_image_wrap">
						<img src="assets/img/directions/{{ item.img }}" alt="" class="directions__item_image">
					</span>

					<span class="directions__item_content">
						<span class="directions__item_title">{{ item.title }}</span>
						<span class="directions__item_more">Подробнее >></span>
					</span>
				</a>
			{% endfor %}
		</div>
	</section>
{% endmacro %}