@use '../modules/main' as *;

$siteFont: 'Arial';
@if $font_1 {	$siteFont: $font_1, 'Arial' }

* {
	outline: none;
	box-sizing: border-box;
}

:root {
	--header-height: 45px;

	@include screen(lg) {
		--header-height: 80px;
	}
}

html {
	height: 100%;
}

html,
body {
	margin: 0;
	padding: 0;
	background: #fff;
}

body {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr auto;
	font: normal 16px/140% $siteFont;
	color: $color_1;
	min-height: 100%;
}

a {
	color: $color_1;
	@include transition;

	&:hover {
		color: $color_2;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	max-height: 100%;
}

.main {
	padding-top: var(--header-height);
}

.both {
	display: block;
	clear: both;
}

#panel:empty {
	display: none;
}

.img__wrap {
	line-height: 0;

	&.full * {
		object-fit: cover;
		@include size(100%);
		min-width: 100%;
		min-height: 100%;
	}

	&.pl * {
		object-position: center left;
	}

	&.pr * {
		object-position: center right;
	}
}

.clear-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
