<div class="popup popup--postmessage" id="postmessage">
	<div class="center">
		<img src="../assets/img/svg/check.svg" alt="Спасибо" class="icon">
		<div class="title">Спасибо!</div>
		<div class="desc">Ваше приглашение отправлено. <br>После рассмотрения мы свяжемся с вами <br>по указанным в форме контактным данным</div>
	</div>
</div>