{% extends './src/templates/template.njk' %}
{% set siteTitle = 'Страница не найдена' %}

{% block main %}
	<main class="main page__404_wrap">
		<section class="page__404 container">
			<h1 class="page__404_title">404 <br><br>Страница не найдена</h1>

			<p class="page__404_text">Похоже, мы не можем найти нужную вам страницу.<br><br>Вы можете вернуться на главную страницу и попробовать ещё раз.</p>

			<a href="/" class="btn btn--1">На главную</a>
		</section>
	</main>
	{% endblock %}
