{% extends './src/templates/template.njk' %}
{% set activePage = 'Главная' %}

{% from './src/templates/macros.njk' import link %}

{% set newsArray = [
	{
		data: '28 июля 2022 г.',
		title: 'Компания «Системные решения» заключила соглашение о сотрудничестве с Казанским национальным исследовательским технологическим университетом (КНИТУ КХТИ).'
	}, {
		data: '12 января 2019 г.',
		title: '«Вести» взяли интервью у главы РАН в чистых помещениях ФИАНа, созданных и оснащенных компанией «Системные решения».'
	}, {
		data: '29 мая 2019 г.',
		title: 'Состоялось открытие технологического центра «СИБУР ПолиЛаб», созданного при участии компании «Системные решения».'
	}
] %}

{% block main %}
	<main class="main">
		<section class="container">
			{% include './src/templates/blocks/form.njk' %}
		</section>

		<section class="container">
			<center>
				<h2><a href="./popups/postmessage.html" class="js_open_popup">Open postmessage</a></h2>
			</center>
		</section>

		<section class="news container">
			<p class="news__title page__title-2 show">Анонс новостей</p>

			<div class="slider swiper-container js_custom_slider" data-slider="news" data-items-count="2" data-space-between="30" data-space-breakpoints="80-spaceBetween:20,slidesPerView:1;992-spaceBetween:30,slidesPerView:2">
				<div class="slider__wrap swiper-wrapper">
				{% for item in newsArray %}
					<div class="news__item swiper-slide slider__slide">
						<div class="item__content">
							<p class="item__data">{{ item.data }}</p>
							<p class="item__title">{{ item.title }}</p>
							<a href="{{ link('404') }}" class="item__link">Подробнее >></a>
						</div>
					</div>
				{% endfor %}
				</div>

				<div class="slider__buttons">
					<div class="slider__button slider__button_prev" data-slider-prev="news"></div>
					<div class="slider__button slider__button_next" data-slider-next="news"></div>
				</div>

				<div class="slider__pagination" data-paginate="news"></div>
			</div>
		</section>

		<section class="container">
			{% include './src/templates/blocks/map.njk' %}
		</section>
	</main>
{% endblock %}
