{% include './src/templates/header-inner.njk' %}
{% include './src/templates/header.njk' %}

<main class="main container">
	<section class="sitemap wrap">
		<div class="sitemap_item">
			<div class="sitemap__title">Карта сайта</div>

			<ol class="sitemap__list">
				<li class="sitemap__item"><a href="/" class="sitemap__link">Главная</a></li>
				<li class="sitemap__item"><a href="/404.html" class="sitemap__link">404</a></li>
			</ol>
		</div>
	</section>
</main>

{% include './src/templates/footer.njk' %}