{% set dopStypeFile = 'sitemap' %}
{% include './src/templates/header-inner.njk' %}
{% include './src/templates/header.njk' %}
{% from './src/templates/macros.njk' import menu %}

<main class="main container">
	<section class="sitemap wrap">
		<div class="sitemap_item">
			<div class="sitemap__title">Карта сайта</div>

			{{ menu(typeMenu='sitemap') }}
		</div>
	</section>
</main>

{% include './src/templates/footer.njk' %}