{% extends 'src/templates/template.njk' %}
{% set dopStypeFile = 'sitemap' %}

{% from 'src/templates/macros.njk' import menu %}

{% block main %}
	<main class="main container">
		<section class="sitemap wrap">
			<div class="sitemap_item">
				<div class="sitemap__title">Карта сайта</div>

				{{ menu(typeMenu='sitemap') }}
			</div>
		</section>
	</main>
{% endblock %}
