@function icon(
	$icon-name,
	$fill,
	$stroke-color: transparent,
	$stroke-width: 0,
	$css: '',
	$size: ''
) {
	$parameters: (
		'fill': $fill,
		'stroke-color': $stroke-color,
		'stroke-width': $stroke-width,
		'css': $css,
		'size': $size,
	);

	$icons: (
		icon_arrow-right: _buildPath((1: 'M6 16H26M26 16L18.5 8M26 16L18.5 24'), $parameters, '') (32,32)
	);

	@if map-has-key($icons, $icon-name) {
		$icon: map-get($icons, $icon-name);
		$listSize: length($icon);
		$path: set-nth($icon, $listSize, '');
		$icon_size: nth($icon, $listSize);
		@if map-get($parameters, size) != '' {
			$icon_size: map-get($parameters, size);
		}

		$icon: _buildIcon($path, nth($icon, $listSize), $icon_size);
		@return url('data:image/svg+xml;utf8,#{$icon}');
	} @else {
		@return null;
	}
}
